.ProductDetails{
    margin-top: 7vh;
    width: 70%;
}

.ProductDetails .Options,
.ProductDetails .Quantity{
    margin-bottom: 10px;
}

.ProductDetails .Options .OptionGrouping{
    margin-bottom: 10px;
}

.ProductDetails-Picture {
    height: 400px;
    width: 25vw;
    min-width: 250px;
    max-width: 400px;
    background-size: cover;
    background-position: center;
}

.ProductDetails-Details{
    margin-left:15px;
    width: 40vw;
}
.RecipePageDetails-Options{
    margin-top:25px;
}

@media screen and (max-width: 767px) {
    .ProductDetails-Details{
        width: 100vw;
        margin-left:0;
        text-align: center;
    }
    .ProductDetails-Picture {
        width: 100vw;
    }
}