.RecipeDetails{
    margin-top: 25px;
}

.RecipeDetails .Steps{
    background: rgba(255,255,255, 0.9);
    margin-top:25px;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 475px;
    width: 90%;
    margin-bottom: 25px;
    margin-left: 5%;
}

.RecipeDetails .Header{
    font-family: 'Tahu!';
    font-size:calc(12px + 2vw);  
    margin-top: 10px;
    text-align: center;
    color: black;
}