.BookDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;/*Fill the whole div*/
    background-repeat: no-repeat;/*Don't repeat*/
    background-position: center;
    height: 90vh
}

.BookDiv .Main{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* background-size: cover;Fill the whole div */
    background-repeat: no-repeat;/*Don't repeat*/
    background-position: top;
    height: 75vh;
    width: 100vw;
    object-fit: contain;
}

.BookDiv .Details{
    width: 100vw;
    background-color: rgba(255,255,255, 0.9);
    padding:25px;
    color:black;
    margin-bottom: 25px;
    text-align: center;
}

.BookDiv h1{
    font-family: 'Tahu!';
    font-size:calc(12px + 4.5vw);
}

.BookDiv .LearnMore{
    font-style: italic;
    text-decoration: underline;
}

.BookDiv .btn{
    margin:2.5px;
}

@media screen and (max-height: 675px){
    .BookDiv .Subtext{
        display: none;
        
    }

    .BookDiv .Details{
        padding: 15px;
        margin-bottom: 0px;
    }
}