.RecipePage{
    height: 100%;
    width: 100vw;
    padding-top: 5px;
}

.RecipePage .Title{
    display:flex;
    align-items: center;
    background-color: rgb(33, 32, 54);
    width: 100vw;
    height: 100px;
    color: white;
    font-family: 'Arial';
    font-size:calc(24px + 1.5vw); 
}

.RecipePage .Words{
    margin-left: 5vw;
}

.RecipePage .Search{
    background-color: rgb(33, 32, 54);
    width: 100vw;
    color: white;
    margin-bottom: 10px;
}

.RecipePage .Spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
}