.RecipeImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.RecipeCard, .RecipeCard-Admin{
    background-color: white;;
    width:100vw;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-bottom:5px;
    margin-top:5px;
    padding:10px;
}

.RecipeCard-Admin{
    height: 175px;
    width:90vw;
}

.RecipeCard-FoodImage{
    height:300px;
}

.RecipeCard-FoodImage-Admin {
    height:150px;
    width: 250px;
}

.RecipeCard-UserImage{
    height: 300px;
    min-height:200px;
    min-width:200px;
}

.RecipeCard-UserImage-Admin{
    height: 150px;
}

.RecipeCard-Link{
    margin:2.5px;
}
.RecipeCard-Link a{
    text-decoration: none;
    color: white;
}

.RecipeCard-Tag{
    margin:5px;
    text-decoration: none;
    font-style: italic
}

.RecipeCard-Stars{
    margin: 0px;
}

.RecipeCard-Date{
    font-size: 12px;
    margin: 0px;
}
.RecipeCard-Tags{
    font-size: 14px;
    margin: 0px;
}

.RecipeCard-Mobile{
    margin-top: 10px;
}