.RecipeImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.RecipeCard, .RecipeCard-Admin{
    background-color: white;;
    width:100vw;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-bottom:5px;
    margin-top:5px;
    padding:10px;
}

.RecipeCard-Admin{
    height: 175px;
    width:90vw;
}

.RecipeCard-FoodImage{
    height:300px;
}

.RecipeCard-FoodImage-Admin {
    height:150px;
    width: 250px;
}

.RecipeCard-UserImage{
    height: 300px;
    min-height:200px;
    min-width:200px;
}

.RecipeCard-UserImage-Admin{
    height: 150px;
}

.RecipeCard-Link{
    margin:2.5px;
}
.RecipeCard-Link a{
    text-decoration: none;
    color: white;
}

.RecipeCard-Tag{
    margin:5px;
    text-decoration: none;
    font-style: italic;
}

.RecipeCard-Stars{
    margin: 0px;
}

.RecipeCard-Date{
    font-size: 12px;
    margin: 0px;
}
.RecipeCard-Tags{
    font-size: 14px;
    margin: 0px;
}

.RecipeCard-Mobile{
    margin-top: 10px;
}
.RecipeCard-MobileCard {
    background-color: rgba(232, 238, 255, 0.2);
    width: 18rem;
}
.RecipeCard-MobileCard:hover{
    width: 18.5rem;
    /* box-shadow: 10px 10px rgba(0,0,0, 0.2); */
}
.RecipeCard-MobileCard:active{
    background-color: rgba(255, 255, 255, 0.8);
}
.RecipeCard-ImgDiv{
    height: 214px;
    max-width: 500px;
}
.RecipCard-CardImg{
    height: 100%;
    width: 100%;
    object-fit: contain;
}