/* CSS for TopNav components */
.TopNav{
    height:25px;
    font-style: italic;
}

/* CSS For MidNav components */
.MidNav{
    /*Original color 
    background-color: rgb(41, 43, 44); */
    /* background-color: rgb(44, 29, 18); */
    background-color: rgb(17, 19, 19); 
    height:8vw;
    color: white;
    width: 100vw;
    margin:0px;
}
.MidNav-Title{
    font-family: 'Tahu!';
    font-size: 6vw;
    padding-top:0.5vw;
} 

.NavBar-ProfileOptions{
    position: none;
    display: inline-block;
}

/* CSS For BotNav components */
.BotNav-Nav{
    /* Original color
    background-color: rgb(41, 43, 44); */
    /* background-color: rgb(44, 29, 18); */
    background-color: rgb(17, 19, 19); 
    padding-bottom:15px;
    width: 100vw;
}
.NavBar-Button{
    margin:5px;
}
.NavBar-Button a, .MidNav-Title a, .MobileNav-Title a{
    text-decoration: none;
    color: inherit;
}
.NavBar-Button a:hover, .NavBar-Button a:active{
    color: black;
}

/* CSS For MobileNav components */
.MobileNav{
    /* background-color: rgba(54, 36, 23, 1); */
    background-color: rgb(44, 29, 18);
    height:7vh;
    color: white;
    width: 100vw;
    margin:0px;
}

.MobileNav-Title{
    font-family: 'Tahu!';
    font-size: 7vw;
    padding-left:10px;
}

.MobileBotNav-Nav {
    background-color: rgb(235, 235, 235);
    /* background-color: rgba(241, 218, 191, 1); */
    width: 100vw;
}

.Nav-Hamburger{
    font-size: 5vw;
}

@media screen and (max-width: 767px) {
    .NavBar-Button a:hover, .NavBar-Button a:active{
        color: white;
    }
}

/*For the new NAV */

.Nav {
    border-bottom: 5px solid rgb(155, 155, 155);
}

.Nav .Hamburger{
    margin-left: 15px;
    font-size: calc(12px + 1.5vw);
    margin-right: calc(5px + 2vw);
}

.Nav .Login {
    margin-left:25px;
}

.Nav .Title{
    font-family: 'Tahu!';
    /* font-size: calc(42px + 3vw); */
    font-size: 95px;
}

.Nav .Title a{
    text-decoration: none;
    color: inherit;
}

.Nav .Cart {
    margin-right: calc(5px + 2vw)
}

.btn:focus {
    box-shadow: 0 0 0 0.0rem rgb(13 110 253 / 25%)
}

.NavBar-Button:hover, .NavBar-Button:active{
    /* background-color: rgb(53, 56, 56); 
    color: white;
    border-bottom: 5px solid white; */
    text-decoration: underline;
}

.NavBottom{
    width: 50vw;
    height: 35px;
}

.Nav .Header{
    height: 14vh;
    min-height: 125px;
    background-color: rgb(17, 19, 19); 
    color: white;
}

.NavBar-Button button:hover{
    text-decoration: underline;
}

.Title-Half{
    margin-bottom: -75px;
    margin-left: 70px;
    font-size: 60px;
}

.centerDiv{
    padding-top:1vh;
    margin: 0 6vw;
    min-width: 365px;
}