/* CSS for TopNav components */
.TopNav{
    height:35px;
    font-style: italic;
}

/* CSS For MidNav components */
.MidNav{
    /*Original color 
    background-color: rgb(41, 43, 44); */
    background-color: rgba(54, 36, 23, 1);
    height:150px;
    color: white;
    width: 100vw;
    margin:0px;
}
.MidNav-Title{
    font-family: 'Tahu!';
    font-size: 6vw;
    padding-top:0.5vw;
} 

/* CSS For BotNav components */
.BotNav-Nav{
    /* Original color
    background-color: rgb(41, 43, 44); */
    background-color: rgba(54, 36, 23, 1);
    padding-bottom:15px;
    width: 100vw;
}
.NavBar-Button{
    margin:5px;
}