.ShopPage{
    height: 100%;
    width: 100vw;
    padding-top: 5px;
}

.ShopPage .Products{
    display: flex;
    align-items: center;
    padding-top: 10px;
    border-radius: 25px;
}

.ShopPage .Title{
    display: flex;
    align-items: center;
    font-family: 'Arial';
    font-size:calc(24px + 1.5vw);  
    background-color: rgb(33, 32, 54);
    color: white;
    width: 100vw;
    height: 100px;
}

.ShopPage .Words{
    margin-left: 5vw;;
}

.ShopPage .Search{
    background-color: rgb(33, 32, 54);
    color: white;
    padding-right: 10vw;
    margin-bottom: 10px;
}