.IngredientList li{
    list-style-type: none;
    padding-bottom: 5px;
}

.IngredientList ol{
    margin: 0;
    padding: 0;
}

.IngredientList h1{
    font-family: 'Tahu!';
    font-size:calc(12px + 2vw);
}

.IngredientList-Ingredients{
    margin:10px;
}

.hr {
    margin-top: 30px;
    border: 1px solid black;
    width: 15vw;
}