.EducationDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 32, 54);
}

.EducationDiv .Content{
    /* background-color: rgb(35, 37, 37);  */
    height:100%;
    /* color: white; */
    background-color: #F4F4F4;
    background-image:
    linear-gradient(
      to right,
      white 1%,
      rgb(248, 248, 248) 50%,
      white
    );
    margin-top: -5vh;
    width: 90vw;
    text-align: center;
}

.EducationDiv .Title{
    font-family: 'Tahu!';
    font-size:calc(24px + 5vw);
    padding-top:15px;
}

.EducationDiv .Image{
    height: 250px;
    object-fit: contain;
    border-radius: 25%;
    padding: 10px;
}
