.FlippingTextIcon .Box{
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px;
    margin-bottom: 50px;
}

.icon{
    font-size: calc(48px + 3vw);
    color: rgb(66, 90, 143);
}

.box-shadow-small{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072)
}

.FlippingTextIcon .SubTitle{
    font-family: 'Tahu!';
    font-size:calc(32px + 1vw);
    padding-top:15px;
}