.AboutDiv{
    background-color: rgb(248, 248, 248);
    max-height:500px;
    height: 100%;
    width: 100vw;
}

.AboutDiv .Details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutDiv .BookText{
    margin-top:5px;
    text-align: center;
}

.AboutDiv h1{
    font-family: 'Tahu!';
    font-size:calc(12px + 3.5vw);
}

.AboutDiv .LearnMore{
    font-style: italic;
    text-decoration: underline;
}

.AboutDiv .LearnMore a{
    color: black;
}

.AboutDiv-Button{
    margin:2.5px;
}

@media screen and (max-width: 767px) {
    .BookDiv {
        padding-top:15px;
    }
    
    .BookDiv .BookText{
        padding:15px;
        box-shadow: 10px 10px rgba(0,0,0, 0.2);
    }
}

@media screen and (max-width: 576px) {
    .BookDiv {
        height:80vh;
    }
}