@font-face {
  font-family: 'Tahu!';
  src: url('./Shared/Fonts/Tahu.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('./Shared/Fonts/Tahu.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-display: swap;
}  

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
    min-width: 390px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Section-Divider{
  background-color: white;
  height: 7px;
  width:100vw;
}

.bold{
  font-weight: bold;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opacity{
  opacity: 0.8
}

.cust-shadow-sm{
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086)
}

.sale{
  color: white;
  background: red;
  border-radius:15px;
  width: 65px;
  height: 25px;
  font-size: 16px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bootstrap Modal forces this padding, which messes up the app on low resolution
Setting it to !important is the only way to fix the issue that I know of currently */
.modal-open{
  padding-right: 0px !important;
}