.BookDiv{
    /* Original color
    background-color: rgb(35, 37, 37); */
    background-color: rgba(146, 129, 122, 1);
    padding:0px;
    margin: 0px;
    height: 50vh;
    max-height: 600px;
}

.BookDiv a{
    text-decoration: none;
    color: inherit;
}

.BookDiv-BookImg{
    background: url('../../Img/Food/Cover.jpg') center center/contain no-repeat;
    height: 100%;
    min-height: 300px;
    min-width: 300px;
    width: 100%;
    object-fit: contain;
}

.BookDiv-BookText{
    background-color: rgba(255,255,255, 0.1);
    padding:35px;
    color:white;
    box-shadow: 15px 15px rgba(0,0,0, 0.2);

}

.BookDiv h1{
    font-family: 'Tahu!';
    font-size:calc(12px + 4.5vw);
}

.BookDiv-LearnMore{
    font-style: italic;
    text-decoration: underline;
}

.BookDiv-Button{
    margin:2.5px;
}

@media screen and (max-width: 767px) {
    .BookDiv {
        padding-top:15px;
    }
    .BookDiv-BookText{
        padding:15px;
        box-shadow: 10px 10px rgba(0,0,0, 0.2);

    }
}

@media screen and (max-width: 576px) {
    .BookDiv {
        height:80vh;
    }
}