.LoginForm{
    border: 2px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding:25px;
    margin:15px;
    width: 50%;
    min-width: 250px;
}

.Login{
    display: flex;
    align-items: center;
    justify-content: center;
}