.SmallRecipeCard{
    height: 150px;
    font-size: 12px;
    color: black;
}

.SmallRecipeCard .SmallImage{
    background-size: cover;
    background-repeat: no-repeat;/*Don't repeat*/
    background-position: top;
    height: 75px;
    width: 100%;
    float: left;
    object-fit:contain;
    margin: 5px;
    border-radius: 10px;
}

.SmallRecipeCard .Text{
    text-align: center;
}

.SmallRecipeCard .Text a{
    text-decoration: none;
}
