.ProductCard{
    margin-bottom: 25px;
}

.ProductCard .Card {
    background-color: rgba(232, 238, 255, 0.2);
    width: 14rem;
}
.ProductCard .Card:hover{
    width: 14.5rem;
}
.ProductCard .Card:active{
    background-color: rgba(255, 255, 255, 0.8);
}

.ProductCard-.Price{
    font-size: 18px
}

.ProductCard .ImgDiv{
    height: 214px;
    max-width: 500px;
}