.ProductCard{
    margin-bottom: 25px;
}

.ProductCard-MobileCard {
    background-color: rgba(232, 238, 255, 0.2);
    width: 18rem;
}
.ProductCard-MobileCard:hover{
    width: 18.5rem;
    /* box-shadow: 10px 10px rgba(0,0,0, 0.2); */
}
.ProductCard-MobileCard:active{
    background-color: rgba(255, 255, 255, 0.8);
}